/*.png
/*.npy
/*.npz
/*.h5
/*.txt
/config*.*
/inputfiles*.*
/output.*
.spyproject
__pycache__
backup
tests/test1/output/actual/**
tests/test2/output/actual/**
/test_*
/run_*
**/tomo.log
!config_start.txt
